
.form{
    width: 500px;
    min-width: 290px;
    height: 500px;
    margin: 0 auto;
    padding: 24px 16px 6px 16px;
    box-shadow: 0px 0px 6px 6px #89bb1e;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.555); 
}
.form__title{
    font-size: 28px;
    font-weight: 700;
    color: black;
   
}
.form__editText{
    padding-top: 10px;
    text-align: center;
}
.form__text-area{
    margin: 40px 40px;
    width: 260px;
    height: 140px;
    border-radius: 8px;
    border: 2px solid #698727;
    outline: none;
}
.form__text-area::placeholder{
    color: #868686;
    font-family: 'Montserrat';
    font-weight: 400;    
}
.form__btn-container{
    width: 240px;
    min-width: 225px;
    display: flex;
    justify-content: space-between;
}
.form__btn-action{
    width: 110px;
    padding: 10px 15px;
    border: 0;
    border-radius: 8px;
    box-shadow: 2px 2px 4px black;
    font-size: 18px;
    font-weight: 700;
    color: rgb(7, 7, 7);
    background-color: green;
}
.form__btn-action:hover{
    color: white;
}
.form__btn-cancel{
    width: 110px;
    padding: 10px 15px;
    border: 0;
    border-radius: 8px;
    box-shadow: 2px 2px 4px black;
    font-size: 18px;
    font-weight: 700;
    color: rgb(7, 7, 7);
    background-color: red;
}
.form__btn-cancel:hover{
    color: white;
}

/* @media(min-width: 1024px){
    .form{
        width: 450px;
        max-width: 450px;
        min-width: 300px;
        height: 440px;
        padding-top: 24px;
        padding-left: 16px;
        border-radius: none;
        border: none;
        box-shadow: 0px 0px 6px 6px #89bb1e;
        justify-content: start;
        background-color: rgba(255, 255, 255, 0.555);
    }
    .form__text-area{
        width: 260px;
        margin: 40px 0;
       
    }
    .form__btn-container{
        justify-content: center;
    }
    .form__btn-edit{
        margin-right: 5px;
    }
}  */